
<nav class="navbar navbar-expand-sm bg-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/parent">parent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/child">child</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/templateform">templateForm</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/reactiveform">reactiveform</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/getresponse">GetResponse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="./admin/login">adminLogin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="./admin/list">adminList</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="./multipleapi">multipleapicall</a>
            </li>
          </ul>
    </div>


</nav>