<!-- <app-getresponse></app-getresponse> -->
<!-- <button (click)="enabledisableRule()"  [ngClass]="{'green' : toggle, 'red': !toggle}">
{{status}} </button> -->

<!-- <br> -->
<!-- interpolation binding -->
<!-- <input type="text" name="user-name" value={{name}} /> -->
<!-- proprty binding -->
<!-- <input type="text" name="user-name" [value]="item" [disabled]=disabled /> -->

<!-- <app-subject></app-subject>
<app-subjecttwo></app-subjecttwo> -->


<app-header></app-header>
<!-- <p> hello prit mani </p>
<p appCustom> hello prit mani </p>
<h1 appCustom> hello prit mani </h1> -->


<!-- <app-parent></app-parent> -->
<!-- <app-child></app-child> -->

<router-outlet></router-outlet>
